.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 95%;
    background-color: #1f1d1a;
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

.line {
    width: 20%;
    height: 2px;
    opacity: 80%;
    background-color: #fb923c;
    display: inline-block;
    position: relative;
    top: 3px;
}
