.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(31, 29, 26);
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

.dot::before,
.dot::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(31, 29, 26);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.dot::before {
    left: -100%; /* Lines on the left */
}

.dot::after {
    right: -100%; /* Lines on the right */
}
